$color-primary: #acffad;
$color-priamry-d: #71efa3;
$hover-color-primary: #50cb93;
$hover-color-primary-d: #54436b;
$w-color: #fff;
$b-color: #000;

$t-b-color: #232323;
$t-b-l-color: #636363;
