.posts {
  height: 60vh;
  border-radius: 6px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 5px rgba($color: #000000, $alpha: 0.4);
  }
  &-img {
    padding: 30px;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
  }
  &-content {
    &__title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      color: $t-b-color;
    }
    &__des--short {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      color: $t-b-l-color;
    }
  }
}
.page-link {
  cursor: pointer;
}
